.img-container {
  display: flex;
  flex-direction: column;
}

.img-container img {
  width: 340px;
  height: 360px;
  border-radius: 8px;
  text-align: center;
  margin: auto;
}

.img-container p {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 4px;
}
